
.movies {
  margin: auto;
  background-color: rgb(2, 3, 4);
  display: flex;
  align-items: center;
  justify-content: center;
}
app-moviebox {
  width: 100vw;
  display: grid;
  align-self: auto;
  align-items: center;
  grid-template-areas: "A B C";
}