.box {
  width: 100%;
  min-height: 60vh;
  margin: auto;
  padding: 40px 10px;
}

section {
  padding: 0 200px;
  width: 100vw;
  display: grid;
  align-self: auto;
  align-items: center;
  grid-template-areas: "A B C";
}

img {
  display: block;
  margin: auto;
  width: 250px;
  height: 350px;
  cursor: pointer;
}

p {
  margin-top: 20px;
  text-align: center;
  font-size: 16px;
  color: white;
}

@media (max-width: 1200px) {
  section {
    padding: 0 100px;
    grid-template-areas: "A B";
  }

  .box {
    padding: 80px 0 5px;
    min-height: 45vh;
  }
}

@media (max-width: 600px) {
  section {
    padding: 0 0;
    display: block;
  }

  .box {
    padding: 40px 0 5px;
    min-height: 45vh;
  }
}

@media (max-width: 400px) {
  section {
    display: block;
  }

  .box {
    padding: 40px 0 5px;
  }
}