h2, p{
  color:white;
}
h2 {
  margin-bottom: 20px;
}
.movieDetails {
  display: flex;
  gap: 30px;
  padding: 40px;
}
.movieInfo {
  max-width: 600px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.plot {
  margin-top: 15px;
}
